/* Body */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Fundo azulado */
}

/* Header */
header {
  background-color: #d3d3d3; /* Cor de fundo cinza */
  border: 5px double #072f60; /* Borda dupla azul escuro */
  padding: 15px;
}

/* Barra de Navegação */
.barra-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 80px;
}

.titulo-site { 
  color: #072f60; /* Cor da letra azul principal */ 
  font-size: 2rem; /* Tamanho da fonte relativo */ 
  font-weight: bold; 
  margin-left: 1rem; /* Margem relativa */ 
  display: inline-block; 
  vertical-align: middle; 
}

.botao-menu {
  background-color: #072f60; /* Cor de fundo azul principal */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botao-menu:hover {
  background-color: #3b5663; /* Cor de fundo cinza ao passar o mouse */
}

.menu {
  display: none; /* Inicialmente escondido */
}

.menu.ativa {
  display: block; /* Mostra o menu quando ativo */
}

.botao-nav {
  display: block;
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
  color: #072f60;
  background-color: white;
  border: 5px double #072f60; /* Moldura azul */
}

.botao-nav:hover {
  background-color: #072f60;
  color: white;
}

/* Main */
main {
  text-align: center;
  margin: 20px;
}

.conteudo {
  text-align: center;
}

.container-imagem {
  position: relative;
  display: inline-block; /* Para ajustar o tamanho ao da imagem */
}

.imagem-central {
  display: block; /* Remove o espaço abaixo da imagem */
  width: 100%; /* Ajusta a largura da imagem conforme o contêiner */
  height: auto; /* Mantém a proporção da imagem */
  border: 5px solid white; /* Borda branca */
  padding: 5px; /* Espaçamento interno para a moldura */
  border: 5px double #072f60; /* Moldura azul igual à do cabeçalho */
}

.texto-sobreposto {
  position: absolute;
  top: 50%; /* Centraliza verticalmente */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-95%, -50%); /* POSIÇÃO DO TEXTO */
  color: white; /* Cor do texto */
  font-size: calc(1rem + 0.5vw); /* TAMANHO FONTE */
 
  padding: 20px; /* Espaçamento interno */
  background-color: rgba(0, 0, 0, 0.0); /* Fundo semi-transparente para melhorar a legibilidade */
}

/* Footer */
footer {
  background-color: #d3d3d3; /* Cor de fundo cinza */
  border: 5px double #072f60;
  text-align: center; /* Centraliza o texto */
  padding: 10px;
}

.nav-rodape {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-rodape li {
  display: inline;
  margin: 0 10px;
}

.nav-rodape a {
  color: #072f60; /* Cor do texto azul principal */
  text-decoration: none; /* Remove sublinhado */
}

.nav-rodape a:hover {
  color:  #2323FF; /* Cor ao passar o mouse/AZUL NEON */
  text-decoration: underline; /* UNDERLINE AO PASSAR O MOUSE */
}

.logo-rodape img {
  width: 100px; /* AJUSTE PROPORCIONAL */
}

.logo-cabecalho {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px; /* Altura proporcional */
  margin-right: 10px; /* Espaço entre o logo e o título */
  vertical-align: middle; /* Alinha verticalmente com o texto */
}

.titulo-site {
  display: inline-block;
  vertical-align: middle; /* LOGO ALINHAMENTO */
  font-size: 2rem;
  color: #072f60;
  font-weight: bold;
}
